<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">

</head>
<body class="body">


 <nav  class="nav" th:fragment="nav">

     <div class="hero">
     <header>
         <div class="logo">
             <a href="/">Simple Ticket System</a>

         </div>

         <nav class="nav" >
             <ul >
                 <li sec:authorize="hasRole('ADMIN')" >   <a th:href="@{/tickets/all}"> All Tickets </a></li>
                 <li sec:authorize="isAuthenticated()" >   <a th:href="@{/tickets}"> My Tickets </a></li>
                 <li sec:authorize="hasRole('ADMIN')" >   <a th:href="@{/products/add}"> Add product </a></li>
                 <li sec:authorize="hasRole('ADMIN')" >   <a th:href="@{/products/all}"> All products </a></li>
                 <li sec:authorize="hasRole('ADMIN')" >   <a th:href="@{/tickets-for-product}"> Search Tickets </a></li>



                 <li sec:authorize="isAuthenticated()">
                     <a th:href="@{/ticket-submit}"> Submit Ticket </a>
                 </li>

                 <li sec:authorize="hasRole('ADMIN')" >   <a th:href="@{/users/all}"> All users </a></li>

                 <li sec:authorize="!isAuthenticated()"> <a th:href="@{/users/login}"> Login </a></li>

                 <li sec:authorize="!isAuthenticated()" >  <a th:href="@{/users/register}"> Register </a>
                 </li>
                 <li >
                 <form  th:method="post"
                       th:action="@{/logout}">
                  <button sec:authorize="isAuthenticated()" type="submit" class="logout-button" th:href="@{/logout}"> Logout </button>
                     </form>
                 </li>


             </ul>


         </nav>



        </header>

    </div>

</nav>
