<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>STS</title>
</head>
<body>

<nav th:replace="~{fragments/nav}"></nav>

<main class="tickets-view-main">

  <table th:object="${allAvailableTicketsDTO}" >
    <thead>


    <td > Ticket Number:</td>
    <td> Submitted by: </td>
    <td> Subject: </td>
    <td> Details: </td>
    <td sec:authorize="hasRole('ADMIN')"> Answer Ticket: </td>
    <td> Created on: </td>

    </thead>
    <tr th:each="ticket:${allAvailableTicketsDTO.getTickets()}">
      <td th:text="${ticket.id}"> your data row row 2 column 1</td>
      <td th:text="${ticket.client.email}"> your data row row 2 column 3</td>
      <td th:text="${ticket.subject}"> your data row row 2 column 3</td>
      <td ><a class="td-details" th:href="@{/ticket/{id} (id=${ticket.id})}"> Details </a>   </td>
      <td  sec:authorize="hasRole('ADMIN')" ><a class="td-details" th:href="@{/ticket/answer/{id} (id=${ticket.id})}"> Answer ticket </a>   </td>
      <td th:text="${#temporals.format(ticket.created, 'dd-MM-yyyy HH:mm')}"> your data row row 2 column 3</td>

    </tr>
  </table>
</main>

<footer th:replace="~{fragments/footer}"></footer>

</body>
</html>