<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>STS</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
<nav class="nav" th:fragment="nav">


    <div class="hero">
        <header>
            <div class="logo">
                <a th:href="@{/}"> Simple Ticket System
                </a>

            </div>

            <nav class="nav">
                <ul>
                    <li> <a th:href="@{/company/register}"> Apply </a>
                    </li>
                    <li>
                        <a th:href="@{/ticket-submit}"> Submit Ticket </a>
                    </li>

                    <li > <a class="login" th:href="@{/company/register}"> Login </a></li>
                    <li >  <a th:href="@{/register}"> Register </a>
                    </li>


                </ul>


            </nav>
        </header>

    </div>

</nav>

<main class="company-apply"> <form th:action="@{/company/register}" th:method="post" th:object="${companyRegisterDTO}">

    <div class="form-group">
        <div class="label-holder text-white textCol d-flex justify-content-center">
            <label for="name" class="h4 mb-2">Company Name </label>
        </div>
        <input th:field="*{name}" th:errorclass="'is-invalid alert-danger'"
               type="text" class="form-control" id="name" name="name"/>
        <small th:errors="*{name}"
               th:if="${#fields.hasErrors('name')}" class="invalid-feedback text-danger">Company name error message</small>
    </div>

    <div class="form-group">
        <div class="label-holder text-white textCol d-flex justify-content-center">
            <label for="corporateEmail" class="h4 mb-2">Corporate Email </label>
        </div>
        <input th:field="*{corporateEmail}" th:errorclass="'is-invalid alert-danger'"
               type="text" class="form-control" id="corporateEmail" name="corporateEmail"/>
        <small th:errors="*{corporateEmail}"
               th:if="${#fields.hasErrors('corporateEmail')}" class="invalid-feedback text-danger">Corporate Name error message</small>
    </div>
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="main-button" value="Submit application">Submit application</button>
    </div>

</form>
</main>


<footer th:fragment="footer" class="footer">

    <div class="footer-logo">
        <a href="/"> Simple Ticket System</a></div>

    <div class="social"> Follow us on
        <ul >
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-twitter"></i></li>
        </ul>
    </div>
</footer>

</body>
</html>