<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>STS</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body class="body">

<nav th:replace="~{fragments/nav}"></nav>


<main>
    <div class="main">

        <span class="welcome"> Welcome To</span>
        <span class="STS"> STS</span>
        <span sec:authorize="isAuthenticated()"  class="main-name" sec:authentication="name"> STS</span>
    
        <a sec:authorize="!isAuthenticated()" class="main-button" th:href="@{/users/register}" > Get Started </a>
    </div>

    <div class="cards">
          
    

            <div class="card">
                <div class="imgContainer">
                    <img src="/images/submit.JPG" alt="ticket">
                </div>
                <div class="bottom">
                    <h1>Submit </h1>
                
                    <p> your ticket
                    </p>
                    
                    </div>
        
                    </div>

                    <div class="card">
                        <div class="imgContainer">
                            <img src="/images/notes.JPG" alt="notes">
                        </div>
                        <div class="bottom">
                            <h1>Save</h1>
                        
                            <p> your notes
                            </p>
                
                            </div>
                
                            </div>

                    <div class="card">
                        <div class="imgContainer">
                            <img src="/images/check.JPG" alt="notes">
                        </div>
                        <div class="bottom">
                            <h1>Check </h1>
                        
                            <p> for updates
                            </p>
                            
                            </div>
                
                            </div>

                        </div>
                    </main>
<footer th:fragment="footer" class="footer">

    <div class="footer-logo">
        <a href="/"> Simple Ticket System</a></div>

    <div class="social"> Follow us on
        <ul >
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-twitter"></i></li>
        </ul>
    </div>
</footer>
</body>
</html>