<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>STS</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
<nav th:replace="~{fragments/nav}"></nav>

<main class="login-main">


        <form th:method="post"
              th:action="@{/users/login}"
              class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
            <div class="form-group">
                <label for="email" class="text-white font-weight-bold">Username</label>
                <input id="email"
                       name="email"
                       type="text"
                       class="form-control"
                       placeholder="Email"/>
            </div>
            <div class="form-group">
                <label for="password" class="text-white font-weight-bold">Password</label>
                <input id="password"
                       name="password"
                       type="password"
                       class="form-control"
                       placeholder="Password"/>

            </div>

        <div class="button-wrapper">
            <button type="submit"  class="main-button" value="Register">Submit</button>
        </div>

    </form>
</main>

<footer th:fragment="footer" class="footer">

    <div class="footer-logo">
        <a href="/"> Simple Ticket System</a></div>

    <div class="social"> Follow us on
        <ul >
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-twitter"></i></li>
        </ul>
    </div>
</footer>
</body>
</html>