<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/head}">
<body>

<nav th:replace="~{fragments/nav}"></nav>

<main class="tickets-view-main">
    <button id="loadAllProducts">Load all products</button>
    <table>
        <thead>

        <th > Product Name:</th>
        <th> Serial Number: </th>
        <th> Part Number: </th>


        </thead>
        <tbody id="products-table"></tbody>
    </table>


</main>
<script src="/js/products-manager.js"></script>
<footer th:replace="~{fragments/footer}"></footer>

</body>
</html>