<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
  <meta charset="UTF-8">
  <title>STS</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>

<nav th:replace="~{fragments/nav}"></nav>

<main class="tickets-view-main">
  <table th:object="${ticketViewDTO}" >
    <thead>


    <td > Ticket Number:</td>
    <td> Ticket Owner: </td>
    <td> Subject: </td>
    <td> Created on: </td>

    </thead>
    <tr>
      <td th:text="${ticketViewDTO.id}"> your data row row 2 column 1</td>
      <td th:text="${ticketViewDTO.owner}"> your data row row 2 column 3</td>
      <td th:text="${ticketViewDTO.subject}"> your data row row 2 column 3</td>
      <td th:text="${ticketViewDTO.created}"> your data row row 2 column 3</td>

    </tr>
  </table>

  <label for="Description"> Description</label>
  <div id="Description"   th:text="${ticketViewDTO.description}">


  </div>
  <label th:if="${ticketViewDTO.notes != null}"  for="Notes"> Notes</label>
  <div  th:if="${ticketViewDTO.notes != null}"   th:text="${ticketViewDTO.notes}">
  </div>

  <form sec:authorize="hasRole('ADMIN')" th:method="post" th:action="@{/ticket/{id} (id = ${ticketViewDTO.id})}">
    <label for="notes" >Notes </label>
    <textarea th:modelAttribute="notes" th:field="*{ticketViewDTO.notes}" name="notes" id="Notes" ></textarea>
    <button class="main-button" type="submit">Save</button>
  </form>
</main>






<!--<form th:object="${ticketViewDTO}" th:action="@{/ticket/take/{id} (id = ${ticketViewDTO.id})}" th:method="post">-->

<!--  <button type="submit">Take</button> </form>-->

<footer th:fragment="footer" class="footer">

  <div class="footer-logo">
    <a href="/"> Simple Ticket System</a></div>

  <div class="social"> Follow us on
    <ul >
      <li><i class="fab fa-instagram"></i></li>
      <li><i class="fab fa-facebook-f"></i></li>
      <li><i class="fab fa-twitter"></i></li>
    </ul>
  </div>
</footer>
</body>
</html>