<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STS</title>
</head>
<body>

<nav th:replace="~{fragments/nav}"></nav>

<table th:object="${allTickets}" >
    <thead >
    <td > Ticket Number:</td>
    <td> Client name: </td>
    <td> Ticket Owner: </td>
    <td> Subject: </td>
    <td> Created on: </td>

    </thead>
    <tr th:each="ticket: ${allTickets.getTickets()}" >
        <td th:text="${ticket.id}"> your data row row 2 column 1</td>
        <td  th:text="${ticket.client.email}"> your data row row 2 column 2</td>
        <td th:text="${ticket.subject}"> your data row row 2 column 3</td>
        <td th:text="${ticket.created}"> your data row row 2 column 3</td>

    </tr>
</table>


</body>
</html>