<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>STS</title>
</head>
<body>
<table th:object="${ticketViewDTO}" >
  <thead>
  <td > Ticket Number:</td>
  <td> Client name: </td>
  <td> Ticket Owner: </td>
  <td> Subject: </td>
  <td> Created on: </td>
  </thead>
  <tr>
    <td th:text="${ticketViewDTO.id}"> your data row row 2 column 1</td>
    <td  th:text="${ticketViewDTO.firstName}"> your data row row 2 column 2</td>
    <td th:text="${ticketViewDTO.owner}"> your data row row 2 column 3</td>
    <td th:text="${ticketViewDTO.subject}"> your data row row 2 column 3</td>
    <td th:text="${ticketViewDTO.created}"> your data row row 2 column 3</td>
  </tr>
</table>

<textarea th:text="${ticketViewDTO.description}"></textarea>

<button type="submit">Take</button>

</body>
</html>